@charset "utf8";

html{
    background-color: hsl(145, 50%, 35%);
}

h1{
    font-family: sans-serif;
    font-size: 300%;
    text-transform: capitalize;
}

p{
    font-size: 150%;
}

p.children{
    font-family: serif;
    font-style: oblique;
    color: white;
}
p.animal{
    font-family: sans-serif;
    color: hsl(35, 100%, 85%);
}
p.number{
    color: hsl(345, 80%, 50%);
    font-family: cursive;
}

p.book{
    color: hsl(31, 93%, 60%);
    font-family: monospace;
    font-size: 200%;
}
