@charset "utf-8";

html{
    background-color: hsl(200, 14%, 85%);
    font-family: sans-serif;
    text-align: justify;
}
h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 250%;
    color: hsl(0, 0%, 20%);
}
h2{
    background-color: hsl(200, 15%, 55%);
    color: hsl(201, 15%, 30%);
    font-size: 200%;
    text-decoration: underline;
}
h3{
    background-color: hsl(200, 15%, 65%);
    color: hsl(200, 15%, 40%);
    font-style: italic;
    font-size: 130%;
}
p{
    background-color: hsl(200, 15%, 75%);
}
address{
    background-color: white;
    text-align: right;
    font-weight: bold;
}

strong{
    color: hsl(200, 100%, 30%);
    font-weight: normal;
}
em{
    color: hsl(204, 58%, 51%);
    font-weight: bold;
    font-style: normal;
}
