@charset "utf8";
body {
  text-align: justify;
  font-family: sans-serif;
  background-color: hsl(15, 20%, 50%);
}
header {
  margin: 0 10%;
  font-size: 150%;
  background-color: hsl(16, 15%, 55%);
}
section {
  margin: 2% 2%;
  background-color: hsl(16, 15%, 65%);

}
h1 {
  font-size: 265%;
  text-align: center;
}
main {
  font-size: 150%;
  border: white 2px solid;
  margin: 0 10%;
}

h2{
    background-color: hsl(0, 0%, 100%);
}

main section p{
    color: white;
    margin: 3% 10%;
    padding: 2%;
    border: hsl(14, 29%, 20%) 10px solid;
}